USE [master]
GO
/****** Object:  Database [Carsharingdb]    Script Date: 22.05.2026 19:15:35 ******/
CREATE DATABASE [Carsharingdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Carsharingdb', FILENAME = N'C:\Users\Zatsepin.S.R\Carsharingdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Carsharingdb_log', FILENAME = N'C:\Users\Zatsepin.S.R\Carsharingdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Carsharingdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Carsharingdb]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 22.05.2026 19:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id] [int] NOT NULL,
	[Cars_id] [int] NOT NULL,
	[Customers_id] [int] NOT NULL,
	[Price_id] [int] NOT NULL,
	[Product] [nvarchar](50) NOT NULL,
	[Date] [nvarchar](50) NOT NULL,
	[Sum] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 22.05.2026 19:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[id] [int] NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[PricePerHour] [decimal](18, 0) NOT NULL,
	[number] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[FuelConsumption] [decimal](18, 0) NOT NULL,
	[NumberOfSeats] [int] NOT NULL,
	[CarClass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22.05.2026 19:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[inn] [nvarchar](50) NOT NULL,
	[addres] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[salesman] [bit] NOT NULL,
	[buyer] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preperation]    Script Date: 22.05.2026 19:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preperation](
	[id] [int] NOT NULL,
	[material] [nvarchar](50) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Preperation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 22.05.2026 19:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[id] [int] NOT NULL,
	[material] [nvarchar](50) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifications]    Script Date: 22.05.2026 19:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifications](
	[id] [int] NOT NULL,
	[Cars_id] [int] NOT NULL,
	[Preperation_id] [int] NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[cost] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Specifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.05.2026 19:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] NOT NULL,
	[lastname] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[IsLoced] [bit] NULL,
	[isFirstLogin] [bit] NULL,
	[lastloginDate] [date] NULL,
	[FailledLoginAttempts] [int] NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([id], [lastname], [firstname], [role], [username], [IsLoced], [isFirstLogin], [lastloginDate], [FailledLoginAttempts], [password]) VALUES (1, N'Admin', N'Admin', N'Admin', N'Admin', 0, 0, CAST(N'2026-05-22' AS Date), 0, N'123')
INSERT [dbo].[Users] ([id], [lastname], [firstname], [role], [username], [IsLoced], [isFirstLogin], [lastloginDate], [FailledLoginAttempts], [password]) VALUES (2, N'Manager', N'Manager', N'Manager', N'Manager', 0, 0, CAST(N'2026-05-22' AS Date), 0, N'321')
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Cars] FOREIGN KEY([Cars_id])
REFERENCES [dbo].[Cars] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Cars]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customers] FOREIGN KEY([Customers_id])
REFERENCES [dbo].[Customers] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customers]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Price] FOREIGN KEY([Price_id])
REFERENCES [dbo].[Price] ([id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Price]
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD  CONSTRAINT [FK_Specifications_Cars] FOREIGN KEY([Cars_id])
REFERENCES [dbo].[Cars] ([id])
GO
ALTER TABLE [dbo].[Specifications] CHECK CONSTRAINT [FK_Specifications_Cars]
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD  CONSTRAINT [FK_Specifications_Cars1] FOREIGN KEY([Cars_id])
REFERENCES [dbo].[Cars] ([id])
GO
ALTER TABLE [dbo].[Specifications] CHECK CONSTRAINT [FK_Specifications_Cars1]
GO
ALTER TABLE [dbo].[Specifications]  WITH CHECK ADD  CONSTRAINT [FK_Specifications_Preperation] FOREIGN KEY([Preperation_id])
REFERENCES [dbo].[Preperation] ([id])
GO
ALTER TABLE [dbo].[Specifications] CHECK CONSTRAINT [FK_Specifications_Preperation]
GO
USE [master]
GO
